<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895802943767-rjhju3tst7os4017dudnqddgq472e7jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895802943767-rjhju3tst7os4017dudnqddgq472e7jt</string>
	<key>API_KEY</key>
	<string>AIzaSyDV8OWU7lzHlYmJ7QV0VfVxBUF7-FkqfsI</string>
	<key>GCM_SENDER_ID</key>
	<string>895802943767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesis.VirtualBusinessCard</string>
	<key>PROJECT_ID</key>
	<string>virtual-business-card-ff129</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-business-card-ff129.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895802943767:ios:05727d62db01cc1125af52</string>
	<key>DATABASE_URL</key>
	<string>https://virtual-business-card-ff129.firebaseio.com</string>
</dict>
</plist>